<section class="block">
    <h3 class="welcome-head head">Create new doctor</h3>
    <section class="signup-section">
      <%= form_with url: "/users",id: "myform", method: :post do |form| %>
        <div class="signup-fields">
          <%= form.label :name, "Name:", class: "labels" %>
          <%= form.text_field :name, class: "fields" %>
        </div>
        <div class="signup-fields">
          <%= form.label :email, "Email:", class: "labels" %>
          <%= form.email_field :email, class: "fields" %>
        </div>
        <div class="signup-fields">
          <%= form.label :password, "Password:", class: "labels" %>
          <%= form.password_field :password, class: "fields",id:"password" %>
        </div>
        <div class="signup-fields">
          <%= form.label :re_password, "Confirm Password:", class: "labels" %>
          <%= form.password_field :password, class: "fields",id:"re-password" %>
        </div>
        <div class="signup-gender">
          <p class="gender-head">Gender</p>
          <div class="radio-button-div">
            <%= form.radio_button :gender, "male", class: "radio-button" %>
            <%= form.label :male, "Male" %>
            <%= form.radio_button :gender, "female", class: "radio-button" %>
            <%= form.label :female, "Female" %>
          </div>
        </div>
        <div class="spec" >
            <p class="Form-InputLabel"> Specialization : </p>
            <select name="id" style="display: block; margin-bottom: 20px">
            <% Specialization.all.each do |specialization| %>
                <option value=<%=specialization.id%>> <%=specialization.name%> </option>
            <% end %>
        </div>
        <div>
          <input type="button" value="Create" class="buttons" onclick="check()">
        </div>
      <% end %>
    </section>
</section>
<script>
  function check(){
    var password=document.getElementById("password");
    var repass=document.getElementById("re-password");
    var form=document.getElementById("myform");
    console.log(password.value);
    console.log(repass);
    if(password.value==repass.value)
      form.submit();
    else
      alert("passwords not matching!!");
  }
</script>