<section class="block">
    <h1 class="welcome-head head">Blocked Patients</h1>
    <table class="Appointments-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Unblock</th>
        </tr>
        <% @blocked.each do |t| %>
            <tr>
                <td><%= t.user.id %></td>
                <td><%= t.user.name %></td>
                <td><%= t.user.gender %></td>
                <td><%= t.user.email %></td>
                <td>
                    <%= form_with(url: "/unblock/#{t.id}", method: "post") do |form| %>
                        <%= form.submit "Unblock", class: "buttons" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</section>