<p><%= section_title %></p>
<table class="Appointments-table">
    <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Details</th>
    </tr>
    <% current_appointments.each do |t| %>
        <tr>
            <td><%= t.patient.user.name %></td>
            <td><%= t.appointment_time.to_s(:long) %></td>
            <td>
                <button class="buttons" onclick="openpop(this.nextElementSibling.id)">Details</button>
                <div class="popup_bg" id="<%= t.id %>">
                    <div class="popup_main_div">
                        <p class="Details-head">
                            Details
                        </p>
                        <div class="close_popup_div" onclick="closepop()">
                            <button class="buttons">Close</button>
                        </div>
                        <div class="Details-div">
                            <p class="profile-labels">Patient id : <%= t.patient.id %></p>
                            <p class="profile-labels">Patient Name : <%= t.patient.user.name %></p>
                            <p class="profile-labels">Patient gender : <%= t.patient.user.gender %></p>
                            <p class="profile-labels">Appointment id : <%= t.id %></p>
                            <p class="profile-labels">Appointment time : <%= t.appointment_time.to_s(:long) %></p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    <% end %>
</table>