<section class="block">
    <h1 class="welcome-head head">Healthcare Manager</h1>
    <div class="Doctor-NavigationButtons">
        <%= link_to "Back", doctors_path, class: "buttons" %>
        <%= link_to "Home", "/", class: "buttons" %>
    </div>
    <div class="Schedule">
        <p class="Schedule-head">Edit Schedule</p>
        <table class="Schedule-table">
            <tr>
                <th>Day</th>
                <% 11.times.each do |t| %>
                    <th><%= t+1 %></th>
                <% end %>
            </tr>
            <% 7.times.each do |t| %>
                <tr>
                    <td>
                        <%= Doctor.day(t) %>
                    </td>
                    <% 11.times.each do |i| %>
                        <% if t > 2 %>
                            <%= form_with url: "/doctors/#{@current_user.doctor.id}",id: "#{t},#{i}", method: :put do |form| %>
                                <td class= '<%= @current_user.doctor.available(t,i) ? "available-slot" : "not-available-slot" %> cursor-available' onclick='document.getElementById("<%= "#{t},#{i}" %>").submit()' >
                                    <%= form.hidden_field :td, value: "#{t},#{i}" %>
                                    <%= "#{i+9} : #{i+10}" %>
                                </td>
                            <% end %>
                        <% else %>
                            <td class= '<%= @current_user.doctor.available(t,i) ? "available-slot" : "not-available-slot" %> no-cursor' >
                                <%= "#{i+9} : #{i+10}" %>
                            </td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</section>